<app-search></app-search>
<app-not-found [visible]="!cars || cars.length <= 0" resetLinkText="Reset Search "></app-not-found>

<ul>
    <li *ngFor="let car of cars">
        <a routerLink="/car/{{car.id}}">
            <img src="{{car.imageUrl}}" alt="car image">
            <div class="content">
                <div class="name">
                    {{car.name}}
                </div>
                <span class="favorite {{car.favorite? '' : 'not'}}" >❤️</span>
                <div class="stars">
                    <star-rating [value]="car.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px" [readonly]="true"></star-rating>
                </div>
                <div class="price">
                    {{car.price|currency}}
                </div>
                <div class="tags">
                    {{car.tags}}
                </div>
            </div>
        </a>
    </li>
</ul>
